<div class="bg-[#24385b] rounded-[15px] overflow-y-scroll max-h-[500px] scrollbar">
  <div class="sm:w-[760px] shadow">
      <div class="bg-[#121f3d] text-white text-xl p-12 w-full flex space-x-72">
        <div>
          <h1>{{ ruta.title }}</h1>
          <p class="text-gray-400 text-xs mt-4 relative w-full">
            <fa-icon class="mr-4" [icon]="faCircleCheck"></fa-icon>
            <fa-icon class="mr-2" [icon]="faAward"></fa-icon>
            70% completada
          </p>
          <button class="px-4 h-12 bg-[#24385b] text-[#31a8f5] rounded" (click)=" hiddenCursos()">Ocultar cursos aprobados</button>
        </div>
        <button class="px-4 h-12 bg-[#24385b] text-[#31a8f5] rounded" (click)=" idRuta(ruta.id)">...</button>
      </div>

      <div class=" rounded-b-lg">
        <div *ngIf="!hidden; else complete">
          <div
            *ngFor="let item of cursos"
            class=" cursor-pointer "
            >
            <div class=" w-full h-16 hover:bg-[#40587c] pl-8">
                <div class="flex flex-wrap gap-2 h-20 content-center">
                  <div class="w-8">
                    <img [src]="item.icon" width="100%" alt="">
                  </div>
                  <div class="text-white border-none">
                    <a>{{ item.title }}</a>
                    <p class="text-xs text-gray-400">{{ item.status }}<p>
                    </div>
                  </div>
            </div>
          </div>
        </div>

        <ng-template #complete>
          <div
          *ngFor="let item of completados"
          class=" cursor-pointer "
          >
          <div class=" w-full h-16 hover:bg-[#40587c] pl-8">
              <div class="flex flex-wrap gap-2 h-20 content-center">
                <div class="w-8">
                  <img [src]="item.icon" width="100%" alt="">
                </div>
                <div class="text-white border-none">
                  <a>{{ item.title }}</a>
                  <p class="text-xs text-gray-400">{{ item.status }}<p>
                  </div>
                </div>
          </div>

        </div>
        </ng-template>



        <div
        class="p-2 pl-8 h-16 text-[#31a5ef] hover:bg-[#40587c] w-full cursor-pointer">
          <p class="p-2 w-full">
            <fa-icon class="mr-4" [icon]="faGraduationCap"></fa-icon>
            Presentar examen
          </p>
        </div>


      </div>

  </div>

</div>
