<div class="bg-[#121f3d] min-h-screen flex items-start justify-items-center">
  <div class="p-20 w-full flex flex-col ">
    <h1 class="text-2xl text-white mb-8 ml-2">
      Mis Rutas
      <fa-icon
        (mouseover)="help()"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        class="px-2 text-gray-400 cursor-pointer"
        [icon]="faCircleQuestion">
      </fa-icon>
    </h1>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOpen"
      (overlayOutsideClick)="help()"
    >
    <h1 class="bg-white rounded p-2 text-justify w-96">
      Listas de cursos para adquirir una habilidad o formarte en un rol. Puedes agregar una ruta ya creada desde las escuelas o crear una propia.
    </h1>
    </ng-template>
    <div class="flex flex-wrap gap-2 example-boundary"
      cdkDropList
      [cdkDropListData]="rutas"
      (cdkDropListDropped)="drop($event)">

      <div
      *ngFor="let ruta of rutas"
      >

        <div
        cdkDrag
        [cdkDragData]="ruta"
        cdkDragBoundary=".example-boundary"
        class="hover:bg-[#40587c] w-80 bg-[#24385b] p-4 rounded-lg border border-[#40587c] m-2 h-24 cursor-grab active:cursor-grabbing will-change-transform"

        >
        <div
        (click)="openRuta(ruta, ruta.cursos)"
          class="flex flex-col gap-1"
          >
          <h1 class="text-[#83d988] text-ellipsis text-xs">{{ ruta.path }}</h1>
          <h1 class="text-white text-ellipsis">{{ ruta.title }}</h1>
          <p class="text-gray-400 text-xs">
            <fa-icon class="mr-4" [icon]="faCircleCheck"></fa-icon>
            <fa-icon class="mr-2" [icon]="faAward"></fa-icon>
            70% completada
          </p>
          </div>
        </div>

      </div>


      <div class="hover:bg-[#40587c] w-80 bg-[#24385b] p-4 rounded-lg border border-[#40587c] m-2 h-24 cursor-pointer active:cursor-not-allowed">
        <div class="flex flex-col gap-1">
          <h1 class="text-[#83d988] text-ellipsis text-xs">RUTA PERSONALIZADA</h1>
          <h1 class="text-white text-ellipsis">Mis cursos</h1>
          <p class="text-gray-400 text-xs">
            <fa-icon class="mr-4" [icon]="faCircleCheck"></fa-icon>
            <fa-icon class="mr-2" [icon]="faAward"></fa-icon>
            70% completada
          </p>
        </div>
      </div>
      <div class="hover:bg-[#40587c] w-80 bg-transparent p-4 rounded-lg border border-[#33b1ff] border-dashed m-2 h-24 flex flex-col items-center justify-items-center place-content-center cursor-pointer active:cursor-not-allowed">
        <h1 class="text-[#33b1ff]">Crear nueva Ruta</h1>
      </div>
    </div>
  </div>
</div>

